@import "tailwindcss";

html {
    @apply bg-gray-900 text-gray-300 text-center;
}

body {
    @apply m-0 w-screen p-4;
    font-family: var(--font-jetbrains);
}

* {
    @apply box-border;
}

h1 {
    @apply text-7xl;
}

.absolute-center {
    @apply absolute top-1/2 left-1/2 translate-[-50%];
}

/* nav styles */
.menu {
    @apply bg-blue-900 text-blue-100 px-2 py-2 font-bold text-xl;
}

.nav-links {
    @apply py-3 flex flex-row justify-around w-full;
}

.nav-links a {
    @apply block grow text-center px-3 py-1 text-xl font-bold;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: #ff9776;
}

:has(.menu[aria-expanded="true"]) .nav-links {
    display: unset;
}
/*
@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .menu {
        display: none;
    }
}
*/
