---
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>blog</title>
    </head>
    <body>
        <h1>blog goes here yep</h1>
        <ul>
            <li><a href="/posts/post-1/">First Post</a></li>
            <li><a href="/posts/post-2/">Second Post</a></li>
            <li><a href="/posts/post-3/">Third Post</a></li>
        </ul>

        <Navigation />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
