---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>My Websitr</title>
    </head>
    <body>
        <h1>Hey There!</h1>
        <h2>I'm cafeentity</h2>
        <Navigation />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
