---
import IndexLayout from "../layouts/IndexLayout.astro";
import Navigation from "../components/Navigation.astro";
const pageTitle = "Welcome!";
---

<IndexLayout pageTitle={pageTitle}>
    <p class="px-1">hi, im</p>
    <h1>cafeentity</h1>
    <Navigation />
</IndexLayout>
