---
import Social from "./Social.astro";
---

<footer>
    <ul>
        <li><Social platform="github" username="xelphyr" /></li>
        <li><Social platform="instagram" username="xelphyrwastaken" /></li>
    </ul>
</footer>
