---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { pageTitle } = Astro.props;
---

<BaseLayout>
    <Header />
    <h1>{pageTitle}</h1>
    <slot />
    <Footer />
    <script>
        import "../scripts/menu.js";
    </script>
</BaseLayout>
